name: Test and deploy the Sentiment analysis API

on:
  push:
    branches:
      - main
    paths:
      - 'api/main.py'
      - 'api/tests/test_api.py'
      - '**/*.yml'

jobs:
  build-and-test:
    runs-on: self-hosted
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          lfs: true
      
      # Force le runner à remplacer
      # tous les pointeurs LFS par les vrais fichiers.
      - name: Pull LFS files
        run: git lfs pull
      - name: Set up Python
        uses: actions/setup-python@v3
        with:
          python-version: '3.9'

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r api/requirements.txt # Fichier listant les dépendances (fastapi, torch, etc.)
          pip install httpx pytest # Pour les tests

      - name: Run tests
        run: |
          export TESTING=true   
          export PYTHONPATH=$PYTHONPATH:./api
          pytest

  build-and-deploy:
    needs: build-and-test # Ce job ne s'exécute que si les tests passent
    runs-on: self-hosted
    steps:
      - name: Apply OpenTofu deployment
        run: |
          # cd /home/samuel/dev/ingenieuria/projet7/iac  # adapter à votre organisation sur la machine runner
          cd ${SENTIMENT_ANALYSIS_IAC}
          tofu apply -auto-approve

      - name: Execute Jupyter Notebook
        run: |
          docker exec ml_training jupyter run /root/work/api/main.py
